.container-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-submit {
  float: right;
}

.order-list-table {
  p {
    font-size: 1.5rem;
  }
}