<div class="row">
    <div class="col-sm-12">
        <hr/>
        <div class="review-block">
            <div class="row">
                <div class="col-sm-3">
                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                    <div class="review-block-name">
                        <p><%= "#{rating.user.first_name} #{rating.user.last_name}" %></p>
                    </div>
                    <div class="review-block-date">
                        <%= rating.created_at.strftime('%a %b %d %H:%M:%S') %>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="review-block-rate">
                        <% if rating.rating >= 1 %>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <% else %>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <% end %>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <% if rating.rating >= 2 %>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <% else %>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <% end %>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <% if rating.rating >= 3 %>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <% else %>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <% end %>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <% if rating.rating >= 4 %>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <% else %>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <% end %>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <% if rating.rating >= 5 %>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                        <% else %>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                        <% end %>
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>

                    </div>
                    <div class="review-block-title">
                        <p>Review</p>
                    </div>
                    <div class="review-block-description">
                        <%= rating.description %>
                    </div>
                    <% if current_user %>
                        <% if current_user.id == rating.user_id %>
                            <div>
                                <%= link_to fa_icon('trash'), product_rating_path(@product, rating), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


